
.container {

}
.row {
  display: flex;
}
.sqaure {
  border: 1px solid black;
  height: 80px;
  width: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sqaure > span {
  font-size: 30px;
}